*{
    margin:0;
    padding: 0;
    box-sizing: border-box;

}

html,body{
    max-width:100vw;
    min-height: 100vh;
    font-family: Arial, Helvetica, sans-serif;


}
.clearfix{
    content: '';
    display: block;
    clear:both;
}

.container{
    width: 70%;
    margin: 0 auto ;
}
.main-nav{
    width: 100%;
    height: 60px;
    background-color: black;
    color:white;

}
.name{
    float: left;
    height: 60px;
    line-height: 60px;
    font-size: 30px;

}

.list-items{
    float: right;
}

.list-items li{
    list-style: none;
    display: inline-block;
    height: 60px;
    line-height: 60px;
    font-size: 18px;
    margin-left:10px;
    cursor: pointer;

}